<%= render 'partials/header.html.erb', {:banner => 'blog'} %>
<% @articles.each do |article| %>
  <div class="">
  
    <div class="card text-center ">
      <div class="card-body flex-center flex-vert">
        <h5 class="card-title"><%= article.title%> </h5>
        <p class="card-text"><%= article.desription%> </p>
        <%= link_to 'read', article_path(article), class: "btn btn-primary btn-lg btn_hov" %> 
      </div>

      <div class="card-footer text-muted">
        <%= article.created_at%>
      </div>
      
    </div>
  
  </div>
<%end%>

<p class="style_link blogs_container_create">
  <%= link_to "Create new article", new_article_path %>
</p>
