
<div class="header_container flex-center  bg1">
      <h1 class="c1">
        <%= banner %> 
          <% if local_assigns.has_key? :showName %>
            <%= @article.title %>
          <% end %>
      </h1>
</div>
<nav class="navbar sticky-top navbar bg1">
  <div class="navbar_container bg1">
    <ul class="flex">
      <li><%= link_to  "home", root_path %></li>
      <li><%= link_to  "books", about_path %></li>
      <li><%= link_to  "blog", articles_path %></li>
      <li><%= link_to  "about", about_path %></li>
    </ul>
    
    <div class="navbar_social flex-center">
      <div class="ic flex-center">
        <i class="fab fa-facebook-square fa-lg"></i>
      </div>
      <div class="ic flex-center">
        <i class="fab fa-instagram fa-lg"></i>
      </div>
      <div class="ic flex-center">
        <i class="fab fa-amazon fa-lg"></i>
      </div>
      <div class="ic flex-center">
        <i class="fab fa-patreon fa-lg"></i>
      </div>
    </div>
  </div> 
</nav>

