<!== ******* >
<!== NAV BAR >
<!== ******* >

<%= render 'partials/header.html.erb', {:banner => 'ellis sinclair'} %>

<!== ************ >
<!== BOOK SECTION >
<!== ************ >

  <div class="bg2 s1book">
    <div class=" section book_section bg_white flex-center">
        <div class="row flex-center">
          <div class="col-sm-12 col-md-4  home_book_book flex">
            <%= image_tag "book-cover-arcadia.jpeg" %>   
          </div>
          <div class="col-sm-12 col-md-8 home_book_desc flex-center flex-vert c1">
            <div class="flex-center flex-vert container_title">
              <h2 class="bg_white">Arcadia</h2>
              <div class="under_line_1 bg5"></div>
            </div>
            <p>Arcadia was a small town, nestled in the countryside, hidden from the bustling life of the metropolis Athens to the north. It was once an idyllic village of hills and apple orchards, a place to settle down, a place where children and families could grow.</p>
            <p>One abandoned home, a monument of history and decay, cast its long shadow across the village and hidden forces from darker places plague the residents in their attempt to reclaim the town. Our story begins with a young boy named Vincent, visiting Arcadia after the death of his grandmother. He finds himself as the most recent quarry in a struggle to regain the town spanning the generations of those who came before him.</p>
            <a class="btn btn-primary btn-lg icon_btn btn_hov" target="_blank" href="https://www.amazon.com/Arcadia-Ellis-Sinclair/dp/1612969178" role="button"> <span class="c_accent">ORDER</span>NOW   <i class="fab fa-amazon fa-sm"></i></div></a>
          </div>
        </div>
    </div>
  </div>


<!== *************** >
<!== PATREON SECTION >
<!== *************** >

  <div class="bg_white s2patreon">
    <div class="section patreon bg2 flex-center flex-vert">
      <div class="row flex-center flex-vert">

        <h1> <span class="c_accent">Subscribe</span> To My Patreon</h1>
        <p>Like my writing? Support me writing more by subscribing to my patreon!</p>
        <div class="under_line_1 bg4"></div>
        <i class="fab fa-patreon fa-10x"></i>
        <a class="btn btn-primary btn-lg btn_hov" href="#" role="button">SUBSCRIBE</a>

      </div>
    </div>
  </div>


<!== ************* >
<!== ABOUT SECTION >
<!== ************* >


  <div class="bg2 s3about">
    <div class="section home_about_container bg_white flex-center flex-vert">
      <div class="row flex">

        <div class="col-md-5 col-12 flex-center mobile_bio_pic">
            <%= image_tag 'temp-bio-pic.jpg' %>
        </div>
        
        <div class="col-md-7 col-12 flex-center flex-vert">
          <div class="flex-center flex-vert container_title_2 m_to_right">
            <h2 class="m_to_right bg_white"> <span class="">Ellis</span>  Sinclair</h2>
            <div class="under_line_2 bg5 "></div>
          </div>

          <p class="t_right">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolores perspiciatis quasi praesentium earum fugiat quae laudantium obcaecati! Eius perspiciatis a laborum accusamus molestias rem optio voluptas distinctio maiores tempora.</p>
          
          <div class="flex m_to_right">
            <div class="about_icons flex-center">
              <div class="ic flex-center">
                <i class="fab fa-facebook-square fa-2x"></i>
              </div>
              <div class="ic flex-center">
                <i class="fab fa-instagram fa-2x"></i>
              </div>
              <div class="ic flex-center">
                <i class="fab fa-amazon fa-2x"></i>
              </div>
            </div>
            <a class="m_to_right btn btn-primary btn-lg btn_hov" href='<%= about_path %>' role="button"><span class="c_accent">MoreAbout</span>Ellis</a>   
          </div>

        </div>

        <div class="col-md-5 col-12 flex-center desktop_bio_pic">
            <%= image_tag 'temp-bio-pic.jpg' %>
        </div>

      </div>
    </div>
  </div>


<!== ************ >
<!== BLOG SECTION >
<!== ************ >

<%
=begin%>
 <div class="blog_spacer bg2"></div> 
<%
=end%>

<div class="section home_blog_container bg1 flex-center flex-vert">
  <div class="flex-center flex-vert container_title">
    <h2> <span class="">Latest</span> Blogs</h2>
    <div class="under_line_1 bg5"></div>
  </div>
  <div class="blogs full_width">
    <%= render 'partials/recentBlogs.html.erb' %>
  </div>
  <%
=begin%>
 <p class="">Say a few things about your blog here</p> 
<%
=end%>
  <div class="flex">
    <a class="btn btn-primary btn-lg btn_hov " href='<%= articles_path %>' role="button"> <span class="c_accent">MORE</span>BLOGS</a>
    <a class="btn btn-primary btn-lg btn_hov" href="#" role="button">SUBSCRIBE</a>
  </div>
</div>


<!== ****** >
<!== FOOTER >
<!== ****** >

<%= render 'partials/footer.html.erb' %>